/* Container for the whole TradePage */
.trade-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #22133d;
    min-height: 100vh; /* Ensure it fills the viewport */
    box-sizing: border-box;
  }
  
  /* Styling for each component within TradePage */
  .trade-page-container > div {
    width: 402px; /* Fixed width for each component */
    margin-bottom: 20px; /* Space between each component */
  }
  
  
  
  